<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taegyun.ex.jsp.dao.UserDAO">

	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{introduce}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertUserWithId" parameterType="com.taegyun.ex.jsp.model.User" 
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{introduce}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectLastUser" resultType="com.taegyun.ex.jsp.model.User" parameterType="map">
		SELECT
			`id` 
			, `name`
			, `yyyymmdd`
			, `introduce`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_user`
		ORDER BY `id` DESC
		LIMIT 1
	</select>



</mapper>
